{% extends 'base.html' %}

{% block title %}Dashboard - Gym Management{% endblock %}

{% block content %}
    <h1>Welcome to the Dashboard, {{ username }}!</h1>
    <p>Manage members and classes here.</p>
    <a href="{{ url_for('add_member') }}">Add Member</a>
    <a href="{{ url_for('view_members') }}">View Members</a>
    <a href="{{ url_for('register_user') }}">Register New User</a>
    <a href="{{ url_for('register_member') }}">Register New Member</a>
    <a href="{{ url_for('view_classes') }}">View Classes</a>
    <a href="{{ url_for('reset_password') }}">Reset Password</a>

{% endblock %}
